<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>434B99E91AD372CF00818B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434B9A051AD372D000818B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434CF63E1AF4600200857D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434CF6481AF4600200857D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437B6C451AE6054200F86669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
